<b>Kamil Szymański</b>
<br/>
<br/>
<p>
Absolwent Informatyki Inżynierskiej wydziału Informatyki i Nauki o Materiałach Uniwersytetu Śląskiego.
Urodziny w Mikołowie w 1988 roku.
</p>

<br/>
<br/>

<b>Dawid Szustak</b>
<br/>
<br/>
<p>
Absolwent Informatyki Inżynierskiej wydziału Informatyki i Nauki o Materiałach Uniwersytetu Śląskiego.
Urodziny w Chorzowie w 1991 roku.
</p>

<br/>
<br/>
<br/>
<br/>
<br/>

<center>
<p>Nasze ulubione zajęcia na uczelni: </p> <h1> Laboratoria z Pradygmatów Programowania :D </h1>
</center>