<accordion close-others="true">
    <accordion-group heading="O natacjach" is-open="true">
        Notacja to umowny sposób zapisu symboli, liter, znaków, itp. Notacja umożliwia w sposób formalny zapis treści wyrażeń reguł, wzorów, formuł.
    </accordion-group>
    <accordion-group heading="Infiksowa">
        Zapis infiksowy – klasyczny sposób zapisywania wyrażeń z binarnymi (dwuargumentowymi) operacjami arytmetycznymi (dodawanie, mnożenie, potęgowanie, itd.).
<br/><br/>
Ogólny schemat:
<br/>
2 + 2 = 4
<br/>
(3 * 4) / 2 = 6
<br/>
2 + 3 * 4 / 3 + 1 = 7
<br/>
2 + 3 * 4 / (3 + 1) = 5
<br/>
(2 + 3) * 4 / 3 + 1 = 7 + 2/3
<br/>
    </accordion-group>
    <accordion-group heading="Postfiksowa">
        Odwrotna notacja polska (ONP) – sposób zapisu wyrażeń arytmetycznych, w którym znak wykonywanej operacji umieszczony jest po operandach (zapis postfiksowy), a nie pomiędzy nimi jak w konwencjonalnym zapisie algebraicznym (zapis infiksowy).
		<br/>
		Odwrotna notacja polska została opracowana przez australijskiego naukowca Charlesa Hamblina jako „odwrócenie” beznawiasowej notacji polskiej Jana Łukasiewicza na potrzeby zastosowań informatycznych. Hamblin sugerował, aby notację tę nazwać "Azciweisakul notation" (Notacja Azciweisakuł – „Łukasiewicza” pisane od tyłu).
		<br/><br/>
Ogólny schemat:
<br/>
 2 3 + 5 *
<br/>
  2 7 + 3 / 14 3 - 4 * + 2 /
<br/>
    </accordion-group>
    <accordion-group heading="Prefiksowa">
        Notacja polska, zapis przedrostkowy, notacja Łukasiewicza – sposób zapisu wyrażeń logicznych (a później arytmetycznych), podający najpierw operator, a potem operandy (argumenty). Został przedstawiony w 1920 roku przez polskiego filozofa i logika Jana Łukasiewicza.
		<br/>
		Notacja ta używana jest w logice znacznie rzadziej niż notacja nawiasowa; wśród niepolskojęzycznych naukowców używających jej znajduje się m.in. Arthur Prior. Obecnie informatyka jest jedynym polem, gdzie notacja ta jest wciąż popularna.
				<br/><br/>
Ogólny schemat:
<br/>
   / 7 + 2 3
<br/>
  * 3 - 6 7
<br/>
    </accordion-group>
</accordion>